In [ ]:
print("Hello World")

Hello World

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
credit_data=pd.read_csv("sample_data/credit_train.csv")
credit_data.head()
df=credit_data.describe()
df.T

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,54740.0,49972.654238,28883.901426,1.000000,24925.750000,49874.000000,75020.250000,99999.000000
ID,54740.0,80589.730307,43325.852378,5634.000000,43018.750000,80443.000000,118161.250000,155628.000000
Monthly_Inhand_Salary,54740.0,4205.106827,3186.265970,303.645417,1630.701667,3107.820417,5981.988333,15204.633333
Num_Bank_Accounts,54740.0,16.634710,114.924728,-1.000000,3.000000,6.000000,7.000000,1798.000000
Num_Credit_Card,54740.0,22.909847,130.295385,0.000000,4.000000,6.000000,7.000000,1499.000000
Interest_Rate,54740.0,74.188071,473.022799,1.000000,8.000000,13.000000,20.000000,5789.000000
Delay_from_due_date,54740.0,21.054512,14.840879,-5.000000,10.000000,18.000000,28.000000,67.000000
Num_Credit_Inquiries,54740.0,27.592218,192.130784,0.000000,3.000000,6.000000,9.000000,2594.000000
Outstanding_Debt,54740.0,1424.694102,1153.240584,0.230000,566.080000,1165.265000,1941.930000,4998.070000
Credit_Utilization_Ratio,54740.0,32.281263,5.111356,20.172942,28.054546,32.317994,36.490079,49.564519
Total_EMI_per_month,54740.0,1411.066778,8305.102900,0.000000,30.201032,69.436189,160.392925,82331.000000
Amount_invested_monthly,54740.0,195.913926,199.740666,0.000000,72.183624,129.198295,237.892531,1977.326102
Credit_Score,25588.0,0.379787,0.485343,0.000000,0.000000,0.000000,1.000000,1.000000

In [13]:
credit_data.shape

(54740, 29)

In [16]:
credit_data=pd.read_csv("sample_data/credit_train.csv")
credit_data=credit_data.drop_duplicates()
credit_data.shape

(54740, 29)

In [17]:
credit_data.dropna(inplace=True)
credit_data.shape

(18968, 29)

In [21]:
credit_data=pd.read_csv("sample_data/credit_train.csv")
credit_data.head()

,Unnamed: 0,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,46184,74905,CUS_0xbbda,August,le Stevem,50,598-28-8368,Manager,72099.14,5842.350694,...,Good,1421.95,35.960435,28 Years and 2 Months,NM,426.797077,417.148202,Low_spent_Small_value_payments,290.8918608420343,1.0
1,63927,101520,CUS_0x1e51,July,Raymondl,32,887-23-0031,Entrepreneur,17443.94,1714.661667,...,Bad,2816.57,35.515016,11 Years and 5 Months,Yes,55.673626,37.777137,High_spent_Small_value_payments,338.015403853136,NaN
2,65974,104591,CUS_0x1765,June,Harryw,32,966-30-5287,_______,15186.175,1527.514583,...,Standard,9.70,36.578680,23 Years and 7 Months,No,10.915070,53.306883,Low_spent_Small_value_payments,378.5295055439751,NaN
3,68006,107639,CUS_0x751c,June,Jessican,19,220-63-1416,Accountant,177696.92,15090.076667,...,Good,1182.91,35.080063,25 Years and 10 Months,No,74.732590,1283.649824,Low_spent_Medium_value_payments,430.62525257098235,NaN
4,84461,132322,CUS_0x1c59,May,Dayz,41,277-13-7658,Doctor,19188.055,1358.004583,...,_,464.09,28.878950,22 Years and 6 Months,No,44.602370,47.128123,Low_spent_Large_value_payments,314.06996555020623,1.0