In [ ]:
print("Hello World")

Hello World

In [ ]:
#Variable length positional argument and variable length keyword arguments
def add(*num1,**num2):
  print(sum(num1))
  print(sum(num2.values()))

add(2,5,6,7,9,a=100,b=2000)

29
2100

In [ ]:
#positional argument,variable length,keyword,default argument and variable keyword arguments
def student(name,clas,*parents_name,age,school='ABC',**marks):
  print('Name: ',name)
  print('class: ',clas)
  print('Parents: ', parents_name)
  print('Age: ',age)
  print('Marks: ',marks)
  print('School: ',school)

student('Ravi',5,'A','B',age=12,eng=90,maths=87,science=91)

Name:  Ravi
class:  5
Parents:  ('A', 'B')
Age:  12
Marks:  {'eng': 90, 'maths': 87, 'science': 91}
School:  ABC

In [ ]:
#lambda function to return single expression

var=lambda a,b:a+b
print(var(10,20))

var1=lambda x,y:(x+y,x-y)
print(var1(10,20))

var2=lambda x,y=2:x+y # default argument
print(var2(5 ))

var3=lambda x,y=2:x+y # default argument
print(var2(x=10 ))

30
(30, -10)
7
12

In [ ]:
# area of a circle using lambda function
area = lambda r: 22/7 * r * r
print(type(area(7)))
print((area(7)))

<class 'float'>
154.0