<a href="https://colab.research.google.com/github/gurramsantosh236/pythonColab/blob/main/Day_15_functions_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World")

Hello World

In [ ]:
# class and Objects

class Calculator:
  n1=0    # attributes
  n2=0
  res = 0

  def __init__(self,n1,n2):  # methods
    self.n1=0
    self.n2=0
    self.res=0

  def add(self , n1,n2):
    pass

  def sub(self , n1,n2):
    pass

  def mul(self , n1,n2):
    pass

  def div(self , n1,n2):
    pass



ob1 = Calculator(10,20) # obj1 creation
ob2 = Calculator(100,200) # obj2 creation

In [ ]:
# Class Sample
class Sample:
  def __init__(self):
    self.data=10

  def input_data(self):
    self.data = int(input("Enter a number"))

  def display(self):
    print(self.data)


ob1 = Sample()
ob1.display()

In [6]:
class Calculator:
  def __init__(self):
    self.n1=0
    self.n2=0
    self.res=0
  def add(self,n1,n2):
    self.res=n1+n2
    print(self.res)
  def sub(self,n1,n2):
    self.res=n1-n2
    print(self.res)
  def mul(self,n1,n2):
    self.res=n1*n2
    print(self.res)
  def div(self,n1,n2):
    self.res=n1/n2
    print(self.res)


obj1=Calculator()
obj2=Calculator()
obj3=Calculator()
obj4=Calculator()

obj1.add(10,20)
obj2.sub(10,20)
obj3.mul(10,20)
obj4.div(10,20)

obj1.div(24,4)
obj1.mul(24,4)
obj1.sub(24,4)
obj1.add(24,4)

30
-10
200
0.5
6.0
96
20
28

In [9]:
# Student details
class Student:
  def __init__(self):
    self.name=""
    self.age=0
    self.m1=0
    self.m2=0
    self.m3=0
    self.total=0
    self.avg=0
  def input_data(self):
    self.name=input("Enter name")
    self.age=int(input("Enter age"))
    self.m1=int(input("Enter marks1"))
    self.m2=int(input("Enter marks2"))
    self.m3=int(input("Enter marks3"))
  def calculate(self):
    self.total=self.m1+self.m2+self.m3
    self.avg=self.total/3
    print(self.total)
    print(self.avg)
    print(self.name)
    print(self.age)
  def display(self):
    print("Name:",self.name)
    print("Age:",self.age)
    print("M1:",self.m1)
    print("M2",self.m2)
    print("M3",self.m3)
    print("----------")


obj1=Student()
obj2=Student()
obj3=Student()

obj1.input_data()
obj1.calculate()
obj1.display()

obj2.input_data()
obj2.calculate()
obj2.display()

Enter name1st student
Enter age40
Enter marks130
Enter marks240
Enter marks350
120
40.0
1st student
40
Name: 1st student
Age: 40
M1: 30
M2 40
M3 50
----------
Enter namekumar
Enter age60
Enter marks150
Enter marks250
Enter marks350
150
50.0
kumar
60
Name:
Age: 0
M1: 0
M2 0
M3 0
----------

In [11]:
# parameterised constructor
class Test:

  def __init__(self,aa,bb):
    self.a=aa
    self.b=bb
  def display(self):
    print(self.a)
    print(self.b)

obj1=Test(10,20)
obj1.display()

10
20

In [14]:
#Emp Name,Emp Id,
class Employer:
  def __init__(self,empName,empid,empbasicsal,empbonus,empfinalsal):
    self.name=empName
    self.id=empid
    self.basicsalary=empbasicsal
    self.bonus=empbonus
    self.Finalsalary=empfinalsal


  def calculate_salary(self):
    self.Finalsalary=self.basicsalary+self.bonus+self.Finalsalary
  def display(self):
    print("Name:",self.name)
    print("Id:",self.id)
    print("Basicsalary:",self.basicsalary)
    print("Bonus:",self.bonus)
    print("Finalsalary:",self.Finalsalary)

obj1=Employer("santosh",4555,1000,200,3000)
obj1.calculate_salary()
obj1.display()

Name: santosh
Id: 4555
Basicsalary: 1000
Bonus: 200
Finalsalary: 4200