In [ ]:
print("Hello World")

Hello World

In [1]:
#Variable length positional argument and variable length keyword arguments
def add(*num1,**num2):
  print(sum(num1))
  print(sum(num2.values()))

add(2,5,6,7,9,a=100,b=2000)

29
2100

In [13]:
#positional argument,variable length,keyword,default argument and variable keyword arguments
def student(name,clas,*parents_name,age,school='ABC',**marks):
  print('Name: ',name)
  print('class: ',clas)
  print('Parents: ', parents_name)
  print('Age: ',age)
  print('Marks: ',marks)
  print('School: ',school)

student('Ravi',5,'A','B',age=12,eng=90,maths=87,science=91)

Name:  Ravi
class:  5
Parents:  ('A', 'B')
Age:  12
Marks:  {'eng': 90, 'maths': 87, 'science': 91}
School:  ABC