In [1]:
import pandas as pd
marksUT = {'Name': ['Bhabha', 'Bhabha', 'Bhabha', 'Kalam', 'Kalam', 'Kalam', 'Sarabhai', 'Sarabhai', 'Sarabhai', 'Kurien', 'Kurien', 'Kurien'],

           'UT': [1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3],
           'Maths': [22, 21, 14, 20, 23, 22, 24, 12, 15, 18, 17, 19],
           'Science': [21, 20, 24, 10, 23, 20, 21, 22, 24, 17, 16, 18],
           'S.St': [23, 21, 18, 21, 21, 23, 22, 18, 19, 15, 19, 16],
           'Hindi': [21, 20, 18, 16, 13, 15, 18, 19, 15, 18, 14, 18],
           'Eng': [24, 23, 19, 21, 17, 15, 13, 19, 23, 24, 22, 21]}

df = pd.DataFrame(marksUT)
# print(df)
print("----------------------------")
# select marks of all students in UT 1
dfUT1 = df[df.UT == 1].copy()
# print(dfUT1)
# create a new continuous index
dfUT1.reset_index(inplace=True)
# print(dfUT1)
print("----------------------------")
# drop the original index
dfUT1.drop(columns=['index'], inplace=True)
# print(dfUT1)

dfUT1.set_index('Name', inplace=True)
print(dfUT1)
print("----------------------------")
# revert back to previous index
dfUT1.reset_index(inplace=True)
print(dfUT1)


# sales and profit data of 4 courses
import pandas as pd

data = {
    'Courses': ['Python', 'Testing', 'Java', 'Python', 'C', 'Java', 'Python', 'C', 'Java'],
    'Year': [2022, 2022, 2022, 2023, 2023, 2023, 2024, 2024, 2024],
    'Total_sales(Rs)': [18000, 13000, 25000, 21000, 12000, 30000, 25000, 15000, 35000],
    'Total_profit(Rs)': [6000, 5500, 7000, 6500, 6000, 9000, 7500, 9500, 9900]
}

df = pd.DataFrame(data)
# print(df)
# Filter rows where course is Python
Pydf = df[df.Courses == 'Python']
# print(Pydf)

# Sum of Total Sales for Python
total_sales_sum = Pydf['Total_sales(Rs)'].sum()
# print(total_sales_sum)
Javadf = df[df.Courses == 'Java']
# print(Javadf)


max_sales = Javadf['Total_sales(Rs)'].max()
# print(max_sales)

# Filter rows by courses
C1df = df[df.Courses == 'C']
C2df = df[df.Courses == 'Java']
C3df = df[df.Courses == 'Python']
C4df = df[df.Courses == 'Testing']
# print(C1df)
# print("-------------------------")
# print(C2df)
# print("-------------------------")
# print(C3df)
# print("-------------------------")
# print(C4df)
# print("-------------------------")

# Calculate total sales for each course
C1total = C1df['Total_sales(Rs)'].sum()
C2total = C2df['Total_sales(Rs)'].sum()
C3total = C3df['Total_sales(Rs)'].sum()
C4total = C4df['Total_sales(Rs)'].sum()
# print(C1total)
# print("-----------------------------")
# print(C2total)
# print("-----------------------------")
# print(C3total)
# print("-----------------------------")
# print(C4total)
# print("-----------------------------")
print(f"Total sales for C: Rs {C1total}")
print(f"Total sales for Java: Rs {C2total}")
print(f"Total sales for Python: Rs {C3total}")
print(f"Total sales for Testing: Rs {C4total}")
print("-------------------------------------------")

max_total_sales = max(C1total, C2total, C3total, C4total)
print(max_total_sales)

# Store in a Dictionary
course_sales = {
    'C': C1total,
    'Java': C2total,
    'Python': C3total,
    'Testing': C4total
}
max_course = max(course_sales, key=course_sales.get)
max_sales = course_sales[max_course]
print(
    f"The course with the highest total sales is: '{max_course}' with Rs {max_sales}")

----------------------------
----------------------------
          UT  Maths  Science  S.St  Hindi  Eng
Name
Bhabha     1     22       21    23     21   24
Kalam      1     20       10    21     16   21
Sarabhai   1     24       21    22     18   13
Kurien     1     18       17    15     18   24
----------------------------
       Name  UT  Maths  Science  S.St  Hindi  Eng
0    Bhabha   1     22       21    23     21   24
1     Kalam   1     20       10    21     16   21
2  Sarabhai   1     24       21    22     18   13
3    Kurien   1     18       17    15     18   24
Total sales for C: Rs 27000
Total sales for Java: Rs 90000
Total sales for Python: Rs 64000
Total sales for Testing: Rs 13000
-------------------------------------------
90000
The course with the highest total sales is: 'Java' with Rs 90000